<div class="col-md-4">
    <!--게시글 detail 폼-->
    <center>
        <div class="write_form" style="border-color: <%= $COLOR_ARRAY[@selected_post.color] %>">
            <br>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= time_ago_in_words(@selected_post.created_at) %> 전 
            <div class="post_context_wrapper">
                <div class="left"></div>
                <div class="right"></div>
                <div class="context"><%=raw @selected_post.context %></div>
            </div>
            <br>
            <a href="#" id="like_button">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span id="like_count"> <%= @selected_post.like_count %></span>
            </a>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span id="reply_count"> <%= @selected_post.replies.count %></span>
        </div> 
    </center>
</div>

<!--모든 댓글-->
<div class="col-md-6">

    <div class="masonry">
        
        <center>        
            <div class="post_form stamp-item">                
                <div class="write_context_wrapper">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div id="reply_context" class="text_area" contenteditable="true"></div>
                </div> 
                <span id="text_count">300</span><br>
                <!--전송 버튼(체크 모양)-->
                <a href="#" id="reply_button" style="margin-top:30px">
                    <span class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span>
                </a>                
            </div>
        </center>    
        
        <!--댓글 작성 폼 옆 빈 공간-->
        <div class="empty_form stamp-item">            
        </div>
        
        <% @reply_all.each do |reply| %>
        <center>
            <div class="reply_form masonry-item" style="border-color: <%= $COLOR_ARRAY[@selected_post.color] %>">
            <br>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <%= time_ago_in_words(reply.created_at) %> 전
                <div class="reply_context_wrapper">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div class="context"><%=raw reply.context %></div>
                </div><br>
                <span class='glyphicon glyphicon-heart' aria-hidden='true'></span>
                 <%= reply.like_count %>
                <!--<a href="#" id="like_button">-->                   
            </div>            
        </center>
        <% end %>
    </div>
</div>
    
<script>

    // 글자 수 카운트 하는 부분  
    $(function(){
        $('#reply_context').keyup(function(){            
            var inputLength = $(this).val().length;
            var remain = 300 - inputLength;
            $("#text_count").html(remain);
        });
    });

    // $(function(){   
    //     // 게시물 폼 크기 설정 부분 
    //     var form_size = $('.reply_form').width() + 30;
    //     $('.reply_form').css({'height':form_size +'px'});
    //     $('.write_form').css({'height':form_size +'px'});
    //     $('.write_form').css({'width':form_size +'px'});
    //     $('.empty_form').css({'height':form_size/2 +'px'});
        
    //     // 웹 페이지 크기 변경시 게시물 폼 크기 변경 되는 부분
    //     $(window).resize(
    //         function(){       
    //             form_size = $('.reply_form').width() + 30;            
    //             $('.reply_form').css({'height':form_size +'px'});
    //             $('.write_form').css({'height':form_size +'px'});
    //             $('.write_form').css({'width':form_size +'px'});
    //             $('.empty_form').css({'height':form_size/2 +'px'});
    //         }
    //     );    
    // }); //function()
    
    
    // 게시물 작성
    $(function(){
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
            stamp: '.stamp-item'
        });   
            
        //작성 버튼 눌렀을 때 댓글 추가하는 기능 부분
        $("#reply_button").click(
            function(){                
                $.ajax({
                    data: { context: $("#reply_context").html() },
                    url: "/board/reply/<%=@selected_post.id%>",
                    success: function(data){                          
                        
                        var time = new Date(data.reply.created_at);
                        var $item = $(                 
                                "<center><div class='reply_form masonry-item' style='border-color:<%= $COLOR_ARRAY[@selected_post.color] %>'><br>"
                                    + "<span class='glyphicon glyphicon-time' aria-hidden='true'></span> " 
                                    + moment(time).fromNow()
                                    + "<div class='reply_context_wrapper'>"
                                        + "<div class='left'></div>"
                                        + "<div class='right'></div>"
                                        + "<div class='context'>" + data.reply.context + "</div>"
                                    + "</div><br>"
                                    + "<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> " 
                                    + data.reply.like_count
                                + "</div></center>"
                        );     
                        
                        $grid.prepend($item)
                             .masonry('prepended', $item);
                        
                        $("#text_count").html(300);     
                        $("#reply_count").html(" " + data.reply_count);         
                        $("#reply_context").html('');                        
                    }
                });
            }
        );
        
        //게시글 좋아요 버튼을 누를 때 이벤트
        $("#like_button").click(
            function(){       
                $.ajax({
                    data: { post_id: <%= @selected_post.id %> },
                    url: "/board/like",
                    success: function(data){                                                               
                        
                        $("#like_count").html(" " + data);
                        
                        
                    }
                });
            }
        );
    });
</script>

    
