<div class="write_container">
    <!--게시글 작성 폼-->
    <p><%= @board.description %></p><br>
    <center>   
        <div class="button_section">            
            <a href="#" id="log_in" class="login_button">글 쓰기</a>
        </div>
        <div id="hide_section" style="display:none; float:right">
            <div class="write_form">            
                <input type="hidden" id="write_board" value="<%= @board.id %>">
                <div class="write_context_wrapper">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div id="write_context" class="text_area" contenteditable="true" wrap="hard"></div>
                </div>
                <br>
                <!--<textarea id="write_context" required></textarea>                            -->
                <p id="text_count">300</p>
            </div><br>
            
            <!--색상 선택-->
            <select id="colorpicker" name="colorpicker">
                <% $COLOR_ARRAY.each do |color| %>
                    <option value="<%= color %>"><%= color %> </option>
                <% end %>
            </select><br>
            
            <!--전송 버튼(체크 모양)-->
            <a href="#" id="write_button" style="margin-top:30px">
                <span class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span>
            </a>
        </div>
    </center>
</div>

<!--모든 게시물-->
<div class="post_container">
    
    <div class="masonry">        
        
        <!--첫번째 게시물 옆 빈 공간-->
        <div class="empty_form stamp-item">            
        </div>   
       
        
        <!--첫번째 게시물-->
        <!--% if @post_all.count != 0 %>-->
        <!--    %= render :partial => '/board/post_form', -->
        <!--               :locals => {:post => @post_first } %>        -->
        <!--% end %>       -->
        
        <!--나머지 게시물-->
        <!--<#% if @post_all.count != 0 %>-->
        <% @post_part.each do |post| %>
           <%= render :partial => '/board/post_form', 
                      :locals => {:post => post } %>               
        <% end %>      
        <!--<#% end %>-->
    </div>
    
    <div class="more_button_space">
        <button id="more_button">더보기</button>
    </div>
</div>
    
<script>
    
     // $(function(){   
    //     // 게시물 폼 크기 설정 부분 
    //     var form_size = $('.post_form').width() + 30;
    //     $('.post_form').css({'height':form_size +'px'});
    //     $('.write_form').css({'height':form_size +'px'});
    //     $('.write_form').css({'width':form_size +'px'});
    //     $('.empty_form').css({'height':form_size/2 +'px'});
        
    //     // 웹 페이지 크기 변경시 게시물 폼 크기 변경 되는 부분
    //     $(window).resize(
    //         function(){       
    //             form_size = $('.post_form').width() + 30;            
    //             $('.post_form').css({'height':form_size +'px'});
    //             $('.write_form').css({'height':form_size +'px'});
    //             $('.write_form').css({'width':form_size +'px'});
    //             $('.empty_form').css({'height':form_size/2 +'px'});
    //         }
    //     );    
    // }); //function() 
    

    $(function(){
        // $(#hide_section).hide();
        $("#log_in").click(function(){
           $("#hide_section").show(); 
           $(this).hide();
        });
    });  

    $(function(){
        if( <%= @post_all.count %> <= <%= $board_show_count %>){
            $(".more_button_space").hide();                            
        }
    });

    // 글자 수 카운트 하는 부분 
    $(function(){
        $('#write_context').keyup(function(){            
            var inputLength = $(this).html().length;
            var remain = 300 - inputLength;
            $("#text_count").html(remain);
        });
    });

    
    // 색상 선택 부분 
    $(function(){        
        $('select[name="colorpicker"]').simplecolorpicker(
            {theme: 'regularfont'}
            ).on('change', function() {
                
                $('.write_form').css("border-color", $("#colorpicker").val());                
        });        
    });

    // 게시물 작성
    $(function(){     
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
            stamp: '.stamp-item'
        });   
            
        //작성 버튼 눌렀을 때 게시글 추가하는 기능 부분
        $("#write_button").click(
            function(){       
                $.ajax({
                    data: { context: $("#write_context").html(),
                            board: $("#write_board").val(),
                            color: $("#colorpicker").val()},
                    url: "/board/write",
                    success: function(data){    
                        var time = new Date(data.post.created_at);
                        
                        var $item = $(
                            "<center><a href='/board/detail/" + data.post.id + "' data-transition='fade'>"
                            +"<div class='post_form masonry-item' style='border-color:" + $('#colorpicker').val() 
                                + "; width:" + size + "px; height:" + size + "px'>"
                                + "<div class='post_context_wrapper'>"
                                    + "<div class='left'></div>"
                                    + "<div class='right'></div>"
                                    + "<div class='context'>" + data.post.context + "</div>"
                                + "</div>"
                                + "<div class='time_section'>"
                                    + "<span class='glyphicon glyphicon-time' aria-hidden='true'></span> " + moment(time).fromNow()
                                + "</div>"
                                // + "<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> " + data.post.like_count
                                + "<img src='/assets/1_unlike.png' width=12 height=18>   " + data.post.like_count
                                + "&nbsp;&nbsp;&nbsp;&nbsp;"
                                + "<img src='/assets/2_not-reply.png' width=18 height=16>  " + data.reply_count
                            + "</div>"
                            + "</a></center>"
                        );  
                        $grid.prepend($item)
                             .masonry('prepended', $item);
                        
                        $("#text_count").html(300);     
                        $("#write_context").html('');      
                        // window.location.reload(true);
                    }
                });
        });
        
        // 게시글 더보기 구현 부분 
        var $last_id = <%= @last_post_id %>;
        $("#more_button").click(
            function(){
                console.log( $last_id );
                
                // var item_array = [];
                var $count = <%= $board_show_count %>;  // 추가 할 게시글 개수 
                
                $.ajax({
                    data: { board_id : <%= @board.id %>,
                            last_id: $last_id,
                            count: $count},
                    url: "/board/more_post",
                    success: function(data){
                        
                        // console.log(data.next_check);
                        if(!data.next_check){
                            $(".more_button_space").hide();                            
                        }
                        // if(data.post_array.length > 0)
                        for(i = 0; i < data.post_array.length; i++){
                            var time = new Date(data.post_array[i].created_at);
                            var item = $(
                                "<center><a href='/board/detail/" + data.post_array[i].id + "' data-transition='fade'>"
                                +"<div class='post_form masonry-item' style='border-color:" + data.color_array[i] 
                                    + "; width:" + size + "px; height:" + size + "px'>"
                                    + "<div class='post_context_wrapper'>"
                                        + "<div class='left'></div>"
                                        + "<div class='right'></div>"
                                        + "<div class='context'>" + data.post_array[i].context + "</div>"
                                    + "</div>"
                                    + "<div class='time_section'>"
                                        + "<span class='glyphicon glyphicon-time' aria-hidden='true'></span> " + moment(time).fromNow()
                                    + "</div>"
                                    + "<img src='/assets/1_unlike.png' width=12 height=18>   " + data.post_array[i].like_count
                                    + "&nbsp;&nbsp;&nbsp;&nbsp;"
                                    + "<img src='/assets/2_not-reply.png' width=18 height=16>  " + data.reply_count_array[i]
                                + "</div>"
                                + "</a></center>"
                            );
                            // item_array.push(item);
                            $grid.append(item)
                             .masonry('appended', item);
                        }

                        // var $item_array = $(item_array);
                        $last_id -= data.post_array.length;
                    }
                });
        });
    });    
</script>




