<div class="write_container" style="display:none">
    <center>
        <div class="form_section" style="display:none; top:300px">
            <h2>프로님, 어서오세요</h2>
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <!--% if devise_mapping.rememberable? -%>-->
              <!--  <div class="field">-->
              <!--    %= f.check_box :remember_me %>-->
              <!--    %= f.label :remember_me %>-->
              <!--  </div>-->
              <!--% end %>-->
            
              <!--<div class="actions">-->
              <!--  %= f.submit "Log in" %>-->
              <!--</div>-->
            <% end %>
            <!--<%#= render "devise/shared/links" %>-->
            <a href="<%= omniauth_authorize_path(resource_name, :facebook) %>"><img src="/assets/9_signin_facebook.png"/></a>
            <a href="#"><img src="/assets/9_signin_google.png"/></a>
            <a href="#"><img src="/assets/9_signin_linkedin.png"/></a>
            
            <br>
            <a href="#">저희의 포로..아니 프로가 되어주세요</a>
        </div>
            
    </center>
    <div class="button_section">            
        <div id="menuBall2" class="menuBall">
        	<a href="#" id="log_in" class="ball redball">
                <div class="menuText">
                    Log In
                </div>
            </a>
        </div>
    </div>
</div>

<div class="post_container" style="display:none">
    <div class="masonry">
        <div class="empty_form stamp-item">            
        </div>
        
        <!--설명 글 4개-->
        <% 0.upto(3) do |i| %>
            <div class="masonry-item">
                <center>
                    <div class="link top" 
                        style="background:-webkit-linear-gradient(left, <%= @COLOR_ARRAY[i] %> 30%, rgba(0, 0, 0, 0) 70%);
                        background:-ms-linear-gradient(left, <%= @COLOR_ARRAY[i] %> 30%, rgba(0, 0, 0, 0) 70%);
                        background:-moz-linear-gradient(left, <%= @COLOR_ARRAY[i] %> 30%, rgba(0, 0, 0, 0) 70%);
                        background:linear-gradient(left, <%= @COLOR_ARRAY[i] %> 30%, rgba(0, 0, 0, 0) 70%)">
                    </div>  
                    <div class="post_form" style="border-color:<%= @COLOR_ARRAY[i] %>">                
                        <div class="context_wrapper">
                           <div class="left"></div>
                           <div class="right"></div>
                           <div class="context" style="color: <%= @COLOR_ARRAY[i] %>"> <%= i+1 %> 번째 글 입니다. </div>
                        </div>
                        <br>
                        <img src='/assets/1_unlike.png' width=17 height=16> 78%
                        &nbsp;&nbsp;
                        <img src='/assets/2_not-reply.png' width=15 height=17> 78%    
                    </div>
                    <div class="link bottom" 
                         style="background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0) 30%, <%= @COLOR_ARRAY[i] %> 60%);
                                background:-ms-linear-gradient(left, rgba(0, 0, 0, 0) 30%, <%= @COLOR_ARRAY[i] %> 60%);
                                background:-moz-linear-gradient(left, rgba(0, 0, 0, 0) 30%, <%= @COLOR_ARRAY[i] %> 60%);
                                background:linear-gradient(left, rgba(0, 0, 0, 0) 30%, <%= @COLOR_ARRAY[i] %> 60%)">
                    </div>
                </center>
            </div>
        <% end %>
        
   </div>
</div>

<script>

    var resolution = window.screen.width;
    var size = resolution*0.23;
    var empty_left = resolution*0.24;
    var post_margin_bottom = resolution*0.025;
    var bottom_link = resolution*0.01;
    var top_link = resolution*0.015;
    var link_width = resolution * 0.005;
    
    $(function(){
        // console.log(resolution);
        $('.empty_form').css({'width':size +'px'});
        $('.empty_form').css({'left':empty_left +'px'});
        $('.post_form').css({'width':size +'px'});
        $('.post_form').css({'height':size +'px'});
        $('.write_form').css({'width':size +'px'});
        $('.write_form').css({'height':size +'px'});         
        
        $('.post_form').css({'margin-bottom':post_margin_bottom +'px'});
        $('.link').css({'height': link_width + 'px'});
        $('.bottom').css({'bottom':bottom_link +'px'});
        $('.top').css({'bottom':top_link +'px'});
         
        $('.write_container').show();
        $('.post_container').show();
    });

    $(function(){
        //masonry 추가
        var $grid = $('.masonry').masonry({
            itemSelector: '.masonry-item',
            stamp: '.stamp-item'
        });   
        
    });
    
    $(function(){
        
        // $(#log_in_section).hide();
        $("#log_in").click(function(){
           $(".form_section").show(); 
           $(".button_section").hide();
        });
    });    
    
</script>